/* App.css */
.app-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set a minimum height of the container to the full viewport height */
}

.chess-board-main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

